* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    height: auto;
    margin: 15px 0 0 0;
    padding: 35px;
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
    box-sizing: border-box;
}
.item{
    height: 160px;
    width: 370px;
    color: #fff;
    border-radius: 20px;
    border: 3px solid #fff;
    background-color: #496BF1;
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-grow: 1; */
    /* flex-basis: 300px; */
    font-size: large;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    box-shadow: 0 0 6px 1px #222;
}
.item:hover{
    box-shadow: 0 0 15px 2px #03e9f4;
}