        /* Navigation Bar */
.navbar{
    height: 50px;
    width: 100%;
    padding: 0px 30px;
    margin: 15px 0 0 0;
    display: flex;
    align-items: center;
}
.web{
    cursor: default;
    font-size: xx-large;
    color: red;
    font-family: sans-serif;
    font-weight: 1000;
    letter-spacing: 1px;
    padding-left: 0px;
}
.inner_navbar{
    height: 50px;
    width: 40%;
    display: flex;
    align-items: center;
    margin-left: 27%;
}
.list{
    height: 50px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
    text-decoration: none;
    color: #9594A6;
    font-family: sans-serif;
    transition: background-color 0.3s;
    border-radius: 50px;
}
.list:hover{
    background-color: #4D79FF;
    color: white;
}
input[type=button]{
    height: 50px;
    width: 100px;
    border-radius: 50px;
    padding: 0 10px;
    outline: none;
    color: #fff;
    font-size: large;
    font-weight: bold;
    background-color: #496BF1;
    border: 2px solid #fff;
    box-shadow: 0 0 3px 1px #222;
}
input[type=button]:hover{
    background-color: red;
    box-shadow: 0 0 5px 2px #03e9f4;
}
input[type=number]::-webkit-inner-spin-button, input[type=button]::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}