.container{
    position: relative;
    top: 0;
    left: 0;
    height: auto;
    width: calc(100% -20px);
    margin: 1% 0 60px 0;
    border-radius: 20px;
    background-color:white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border: 2px solid #03e9f4;
}
header{
    margin: 2% 0;
    cursor: default;
    font-weight: 700;
    font-size: xx-large;
    font-family: Helvetica;
    color: blue;
}
.Item{
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    border: 2px solid #03e9f4;
    border-radius: 20px;
}
form{
    margin: 10px;
}
label{
    font-weight: bold;
    font-family: Helvetica;
}
input{
    height: 35px;
    width: 25%;
    text-align: center;
    font-size: medium;
    margin: 5px 30px 10px 0;
    outline: none;
    border: none;
    border-bottom: 2px solid #496BF1;
    background-color: aliceblue;  
}
.personal-Information{
    width: calc(100% -20px);
    padding: 15px 0 15px 40px;
}
.personal-Information #Label-1{
    margin-left: 315px;
}
.personal-Information #Label-2{
    margin-left: 300px;
}
input[type="number"]{
    margin-left: 87px;
}
#pat-age{
    margin-left: 90px;
    width: 15%;
}
#Label-3{
    margin-left: 236px;
    margin-right: 304px;
}
.Label-5{
    display: inline-flex;
    align-items: center;
    margin-left: 88px;
    width: 10%;
    height: 35px;
    border-radius: 5px;
    border: 2px solid #496BF1;
    font-size: medium;
    font-family: Helvetica;
    cursor: pointer;
    margin-top: 5px;
}
#Female-Label{
    margin-left: 50px;
    margin-right: 35px;
}
.Label-5::before{
    content: "";
    width: 18px;
    height: 18px;
    border: 3px solid #496BF1;
    border-radius: 50px;
    margin-right: 15px;
    margin-left: 5px;
    
}
input[type="radio"]:checked + .Label-5{
    background-color: #496BF1;
    color: #fff;
    border: 2px solid white;
    box-shadow: 0 0 3px 1px #222;
}
input[type="radio"]:checked + .Label-5::before{
    width: 10px;
    height: 10px;
    border: 6px solid white;
    background-color: #496BF1;
}
#Label-4{
    margin-left: 223px;
}
#Label-7{
    margin-left: 237px;
}
textarea{
    margin-top: 5px;
    height: 80px;
    width: 285px;
    resize: none;
    padding: 7px;
    color: #202020;
    border: 1.5px solid #496BF1;
    border-radius: 5px;
    outline: none;
}
#Label-8{
    margin-left: 290px;
}
.Med-Cond-After{
    margin-left: 114px;
}
.Med-to-Give{
    margin-left: 115px;
}
#Label-10{
    margin-left: 290px;
}
#Label-11{
    margin-left: 300px;
}
.personal-Information .Lab-Tests{
    margin-left: 114px;
}
#male, #female, #Go-Home, #Transfer-To-Ward, #Transfer-To-ICU, #Stay-in-Emergency{
    display: none;
}
#Go-Home-Label{
    margin-left: 0;
    width: 11%;
}
#Transfer-To-ICU-Label{
    width: 15%;
    margin-left: 283px;
}
#Stay-in-Emergency-Label{
    width: 17%;
    margin-left: 240px;
}
.Submit-Form-Div{
    width: 93.2%;
    margin: 25px 0 25px 40px;
    background-color: #496BF1;
    border: 2px solid #fff;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 4px 2px #222;
}
#submit-button{
    margin: 0 0 0 0;
    height: 50px;
    width: 100%;
    cursor: pointer;
    background: transparent;
    color: white;
    font-size: medium;
    font-weight: bold;
    letter-spacing: 1px;
}